.deal-ready {
  filter: drop-shadow(0 0 8px rgba(0, 255, 0, 0.5));
}

.deal-ready:hover {
  transform: scale(1.6) !important;
  box-shadow: 0 0 25px 10px rgba(0, 255, 128, 0.6);
}

.rm-transition-out {
  animation: shrinkAndFade 0.5s ease forwards;
}

.rm-transition-in {
  animation: growAndFadeIn 0.5s ease forwards;
}

.bouncing {
  animation: jump 1s ease-out 1;
}

@keyframes shrinkAndFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes growAndFadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-12px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
